sekbot.duckdns.org {
    encode zstd gzip

    @root path /
    redir @root /dashboard 302

    @dashboardHead {
        method HEAD
        path /dashboard
    }
    respond @dashboardHead 200

    reverse_proxy api:8000
}
